body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    
}

form{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-top: 10px;
}

h2 {
    color: #333;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

textarea {
    resize: vertical;
}

input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: middle;
  
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
   
}

input[type="submit"]:hover {
    background-color: #45a049;
}

p {
    text-align: center;
    margin-top: 16px;
    color: #4caf50;
}
#partiePhp{
    color: black;
    background-color: beige;
    font-size: 1rem;
}


.correct{
    color: green;
}
.erreur{
    text-align: center;
    margin-top: 16px;
    color: red;
}
li{
    list-style-type: none;
}
#fiche{
    border: solid 3px;
    color: burlywood;
}
#image{
    display: flex;
}
#contenu{
    display: flex;
    justify-content: space-around;
}
#image img{
    width: 100%;

}
